
/* 
Color palettes
#14279B
#3D56B2
#5C7AEA
#E6E6E6
 */


/* General */
body {
    font-family: "Lato", sans-serif;
    color: #333333;
  }
  
  .container-fluid {
    padding: 1% 10%;
}
  
  a {
    color: #124265;
    text-decoration: none;
  }
  
  a:hover {
    color: #5C7AEA;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    padding-bottom: 20px;
  }



  /* Navbar */
.navbar{
  padding: 0 0 0.2rem;
  box-shadow: 2px 2px 5px #CC0000
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  color: #124265 !important;
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #2487ce !important;
}

.navbar .btn-nav {
  padding: 10px;
  font-size: 15px;
  background-color: #CC0000;
  transition: 0.5s;
  color: #fff;
}

.navbar .btn-nav:hover {
  background-color: #124265;
}

.navbar .btn-nav .phone-icone {
  margin-right: 10px;
}


@media (max-width: 992px) {
  .navbar-brand img {
    width: 110px;
    height: 50px;
 }
    .navbar .btn-nav {
     justify-content: center;
    }
}

/* Hero */
#hero {
  width: 100%;
  height: 150vh;
  position: relative;
  background: url("../img/hero.jpg") top center;
  background-size: cover;
}
#hero:before {
  content: "";
  background: #396e94b4;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 220px;
  padding-bottom: 180px;
}
#hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: #ffffff;
}

#hero h2 {
  color: #ffffff;
  margin: 10px 0 0 0;
  font-size: 22px;
}
#hero .btn-get-started {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #CC0000;
  color: #fff;
  background: #124265;
}

#hero .btn-get-started:hover {
  background: #175480;
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-height: 800px) {
  #hero {
    height: auto;
  }
}
@media (max-width: 992px) {
  #hero {
    height: auto;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}


/* Services */
#services {
  margin-top: 4rem;
}

#services .icon-boxes {
  margin-top: 60px;
}
#services .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
#services .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
#services .icon-box .title a {
  color: #124265;
  transition: 0.3s;
}
#services .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
#services .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #CC0000;
}
#services .icon-box:hover {
  transform: scale(1.08);
}

#services .icon-box:hover .title a {
  color: #2487ce;
}

/* Cta */
.cta {
  background: #124265;
  background-size: cover;
  margin-top: 8rem;
  padding: 60px 0;
}

.cta h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #CC0000;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #fff;
  color: #124265;
}

/* About */
.about  {
  margin-top: 8rem;
}

.about h1 {
  margin-bottom: 20px;
}


/* Galeria */
.portfolio{
  margin-top: 10rem;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #2487ce;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(36, 135, 206, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}
.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2487ce;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2487ce;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(18, 66, 101, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}



/* footer */
 #footer .icon-footer  {
  font-weight: 300;
  font-size: 20px;
  color: #fff; 
  margin-bottom: 1.5rem;
}

#footer .icon-footer :hover {
   color: #175697; 
}

#footer .nav-footer {
  padding: 10px;
  background-color: #124265;
}